.calc {
  color: blue;
  font-weight: 600;
  line-height: 1.3em;
}

body {
  background-image: url('https://cdn-0.drawingtutorials101.com/drawing-tutorials/Others/Everyday-Objects/calculator/how-to-draw-Calculator-step-0.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}